{% if is_new_article %}# {{title}}

## Metadata
{% if author %}- Author: [{{author}}]({{authorUrl}}){% endif %}
- Title: {{title}}
{% if url %}- Reference: {{url}}{% endif %}
- Category: #article{% endif %}

{% if is_new_article %}## Highlights{% endif %}
{% for highlight in highlights %}- {{highlight.text}} — [view in context]({{highlight.incontext}})
{% if highlight.tags | length %}   - Tags: {% for tag in highlight.tags %}#{{tag| replace(" ", "-")}} {% endfor %}{% endif %}
{% if highlight.annotation %}   - Annotation: {{highlight.annotation}}{% endif %}
{% endfor %}